* {
  margin: 0%;
  padding: 0%; }

body {
  background-image: url(../img/fondoMobileBack.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */ }

main {
  width: 100vw;
  height: auto; }

header {
  width: 100%;
  height: 38px;
  font-family: 'Monoton', cursive; }
  header nav {
    position: relative;
    width: 100%;
    height: 200px; }
  header nav h2 {
    position: relative;
    left: -9%;
    background: tomato;
    height: 40px;
    text-transform: uppercase;
    color: ivory;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.35);
    transition: all .4s; }
  header nav:hover h2 {
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.35); }
  header nav:hover:active h2 {
    transform: translateY(10px);
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.35); }
  header input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    height: 40px; }
  header #toggle:checked ~ ul {
    height: 0%; }
  header nav ul {
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
    list-style: none;
    overflow: hidden;
    text-align: right;
    margin-bottom: 22px;
    text-align: center;
    transition: all .4s ease-out;
    height: 100%; }
  header nav ul li {
    border-radius: 2px;
    position: relative;
    left: -9%;
    display: inline-block;
    line-height: 1.5;
    width: 100%;
    margin-bottom: 5px;
    background: tomato;
    transition: background 3s;
    box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.35); }
  header nav ul li:hover {
    background: mediumorchid;
    transition: background .45s; }
  header nav ul a {
    display: block;
    color: ivory;
    text-transform: lowercase;
    font-size: 18px;
    font-weight: 200;
    text-decoration: none;
    transition: color .3s; }

.nombreFestival {
  width: 100%;
  height: 110px;
  align-items: center;
  padding-left: 2.5rem; }
  .nombreFestival img {
    width: 60%;
    height: 80px; }

.infoFestival {
  width: 60%;
  background-color: rgba(129, 127, 127, 0.5);
  border: transparent;
  margin-left: 2.5rem;
  margin-top: 4.5rem;
  text-align: center; }
  .infoFestival p {
    color: red;
    font-family: 'Calligraffitti', cursive;
    font-size: 1.5rem;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: white;
    margin-top: 2rem;
    opacity: 1; }
